<section id={{id}} class="category">
    <div>{{name}}</div>

    {{#each subcategory}}
        <h2>{{name}}</h2>
        {{#each item}}
            {{> item this }}
        {{/each}}
    {{/each}}
</section>